@font-face {
  font-family: 'Migra';
  src: url('/fonts/migra/Migra-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src: url('/fonts/migra/Migra-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra Italic';
  src: url('/fonts/migra/Migraltalic-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Migra Italic';
  src: url('/fonts/migra/Migraltalic-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
